.form-container{
    margin-top: 30px;
}
.form-container .col-8{
    border : 1px solid rgb(171, 171, 171);
    border-radius: 3px;
    padding : 15px 30px;
}
form h3{
    margin-bottom: 30px
}
form div{
    margin-bottom: 10px;
}
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
    background: black;
}