#filter{

	width:100%;
	height: auto;
	/* background-color: #ff8a8a; */
	/* border-radius: 20px; */
	/* color: white; */
	padding-left: 10px;
	border-right: 1px solid rgba(0,0,0,.1);
	padding-right: 30px;
}

#filter ul{padding-left : 12px;}
#filter ul li {
	cursor: pointer;
	margin-bottom: 8px;
	display: grid;
	grid-template-columns: 1fr 8fr;
}
.filter-each p{
	font-weight: bold;
}
.filter-each ul li div{
	display: inline-block;
}
.filter-each ul li div:last-child{
	padding-left: 10px;
}
.filter-btn-wrapper {
	text-align: end;
}
.filter-btn-wrapper button{
	cursor: pointer;
	background: #EF7F08;
	color: white;
	border-radius: 3px;
	border: none;
	padding: 3px 12px;
	visibility: hidden;
}
.filter-btn-wrapper button:hover{
	background :rgb(219, 117, 7);
}
.res_img_crop{
	width: 235px;
	height: 170px;
    overflow: hidden
}

#all_res_container .row{margin-bottom: 30px;}
#all_res_container .col-sm-4{text-align: center;}
#all_res_container .res_container{display: inline-block;}
#all_res_container p{margin:0;font-size: 16px;}
#all_res_container p ,.review_res{text-align: left;}
.checked{color: orange;}

.res_img_crop img{
	width: 366px;
	margin: -17px 0 0 -61px;;
}
.review_res div{display:inline-block;}

.res_img_crop, .review_res{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


